{% extends 'news/base.html' %}

{% block 'title' %}
    Noticias
{% endblock 'title' %}

{% block 'body' %}
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <h1>Noticias</h1>
        </div>
    </div>
    <hr>
    <div class="row">
    {% for d in data %}
        <div class="col-sm-12">
            <div>{{d.date}} | {{d.time}}</div>
            <h3><a href="{{d.url}}" target="_blank">{{d.headline}}</a></h3>
            <p>{{d.subhead}}</p>
            <div>{{d.category}}, {{d.source}}</div>
            <hr>
        </div>
    {% endfor %}
    </div>
{% endblock 'body' %}